@mixin clearfix() {

    &:before,
    &:after {
        content: ' ';
        display: table;
    }

    &:after {
        clear: both;
    }
}

@mixin absolute() {
    position: absolute;
    display: block;
    content: '';
}

@mixin spacing($space) {
    letter-spacing: ($space / 1000) * 1em;
}

@mixin font($font) {
    font-family: '#{$font}', sans-serif;
}

@mixin trans-cubic() {
    transition: .3s cubic-bezier(.6, 0, .3, 1);
}

@mixin trans-normal() {
    transition: .3s;
}
